{% extends 'base.html' %}
{% load staticfiles %}

{% block extrahead %}
<link href={% static "css/blog-post.css" %} rel="stylesheet">
{% endblock %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

<div class="row post-top">
  <!-- Blog Post Content Column -->
  <div class="col-lg-8">
    <!-- Blog Post -->
    <!-- Title -->
    <div class="page-header">
      <h2>{{ post.title }}</h2> <small>{{post.created}}</small>
    </div>

    <!-- Preview Image -->
    <img class="img-responsive" src="/static/images/{{post.title_pic}}" alt="">
    <hr>
    <!-- Post Content -->
    <p>{{ post.content | safe }}</p>
  </div>
  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">
    <!-- Blog Search Well -->
    <div class="well">
      <h4>Search</h4>
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      <!-- /.input-group -->
    </div>
    <!-- Blog Categories Well -->
    <div class="well">
      <h4>Blog Categories</h4>
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled">
            <li><a href="#">{{post.place.name}}</a>
            </li>
            <li><a href="{{post.place.link}}">Wiki</a></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul class="list-unstyled">
            <li><a href="#">{{post.place.country.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- Side Widget Well -->
    <div class="well">
      <h4>Buy these now !</h4>
      {% for i in post.promotions.all %}
      <div class="row">
        <div class="col-md-1"> {{ i.link | safe }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /.row -->
<hr>
<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; http://thepedestrian.in 2015</p>
    </div>
  </div>
  <!-- /.row -->
</footer>
</div>
<!-- /.container -->

{% endblock %}
