{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="pure-u-1-2"></div>
<div class="pure-u-1">
  {% for post in posts %}
  <li><a href={% url 'posts:post' slug=post.slug %}>{{ post.title }}</a></li>
  {% endfor %}
</div>
{% endblock %}
