
{% load staticfiles %}

{% block extrahead %}
   <link rel="stylesheet" href={% static "quill/themes/quill.snow.css" %} />
{% endblock %}

{% block content %}
   <div class="pure-u-21-24">
     <input id="name" type="text" placeholder="Title" class="pure-input-1">
       <div id="toolbar" class="toolbar sc-toolbar-container">
	 <div class="quill-wrapper">
	   <div id="toolbar-toolbar" class="toolbar sc-toolbar-container">
	     <span class="sc-format-group">
	       <select class="sc-font">	 	
		 <option value="sans-serif" selected="">Sans Serif</option>
		 <option value="serif">Serif</option>
		 <option value="monospace">Monospace</option>
	       </select>
	     </span> 
	     <span class="sc-format-group">
	       <select class="sc-size">
		 <option value="small">Small</option>
		 <option value="normal" selected>Normal</option>
		 <option value="large">Large</option>
		 <option value="huge">Huge</option>
	       </select>
	     </span>
	     <span class="sc-format-group">
	       <span title="Bold" class="sc-format-button sc-bold"></span>
	       <span class="sc-format-separator"></span>
	       <span title="Italic" class="sc-format-button sc-italic"></span>
	       <span class="sc-format-separator"></span>
	       <span title="Underline" class="sc-format-button sc-underline"></span>
	       <span class="sc-format-separator"></span>
	       <span title="Strikethrough" class="sc-format-button sc-strike"></span>
	     </span>
	     <!-- image and link --> 
	     <span class="sc-format-group">
	       <span class="sc-format-button sc-link" title="Link"></span>
	       <span class="sc-format-separator"></span>
	       <span class="sc-format-button sc-image" title="Image"></span>
	     </span>
	   </div>
	   
	   <div id="editor" class="editor">
	     
	   </div>
	   <button class="pure-button pure-button-primary">Save</button>
</div>
{% endblock %}

{% block extrascript %}
<script src={% static "quill/quill.min.js" %}></script>
<script>
var editor = new Quill("#editor", {
    theme: 'snow', 
    modules: {
	'toolbar': { container: '#toolbar'},
	'image-tooltip': true,
	'link-tooltip': true
    }
});
</script>
{% endblock %}
