.navbar-default {
    background-color: white;
    border-color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFFFF;
    color: #1565c0;
}