{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="posts">
  <h1 class="content-subhead">Maps</h1>
  <div id='map' style="width: 100%; height: 500px"></div>
</div>
{% endblock %}

{% block extrascript %}
<script src={% static 'js/markerclusterer.js' %}></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoJaqwtRSj3bRfiKrI81w-zeKBWu3hDiE&sensor=false" type="text/javascript"></script>
<script type="text/javascript">
var places = [
    {% for p in places %}
      {lat: {{p.lat}}, lng: {{p.lng}}, name: '{{p.name}}', wiki: '{{p.wikilink}}', desc: '{{p.description}}'},
    {% endfor %}
]
var map;
var markers = [];
function addMarker(d){
    var marker = new google.maps.Marker({
	position: new google.maps.LatLng(d.lat, d.lng),
	title: d.name
    });
    marker.setMap(map);
    google.maps.event.addListener(marker, 'click', function(){
	new google.maps.InfoWindow({
	    content: '<h4>' + d.name + '</h4><p>'+d.desc+'</p><p><a target="_blank" href="'+d.wiki+'">'+d.wiki+'</a></p>'
	}).open(map, marker);
    });
}

function InitMap(){
    var mapoptions = {
	zoom: 4,
	center: new google.maps.LatLng(23.6, 79.1)
    }
    map = new google.maps.Map(document.getElementById('map'),mapoptions);
    for (place in places){
	addMarker(places[place]);
    }
}
google.maps.event.addDomListener(window, 'load', InitMap);
</script>
{% endblock %}
