{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<ul>
  {% for post in posts %}
  <li><a href={% url 'posts:post' slug=post.slug %}>{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
